/*----------------------------------------------------------*/
/*-------UNIVERSAL STYLING----------------------------------*/
/*----------------------------------------------------------*/
body {
  background-color: #F44336;
  font-family: 'Lato', sans-serif;
  color: #161616
}

.backstrip{
  min-height: 100vh;
  width: 90%;
  z-index: -4;
  margin: 0px auto;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 100px -1px rgba(0,0,0,0.5);
}

a {
  text-decoration: none;
  color: #323232;
}

a: hover {
  text-decoration: none;
  color: #083f46;
}

li{
  list-style: none;
}

button {
  margin: 4px;
  background-color: #00BCD4;
  color: #161616;
  border: 2px solid #161616;
}

input {
  width: 200%;
  margin-left: 4px;
}
/*----------------------------------------------------------*/
/*-------HEADER ELEMENTS------------------------------------*/
/*----------------------------------------------------------*/
header {
  background-color: #181818;
  background-image: url("../images/retro_bkgd.png");
  position: fixed;
  top: -70px;
  width: 100%;
  height: 120px;
  border: 5px solid #D32F2F;
  border-right-width: 0px;
  border-left-width: 0px;
  border-radius: 30px;
}

.head{
  top: 62px;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.logo {
  font-family: 'Warnes', cursive;
}

.slogan {
  color: #FFFFFF;
  font-family: 'Lobster Two', cursive;
  padding: 16px 0px 0px 6%;
}

.logged-in {
  background-color: #FFFFFF;
  margin: 15px auto 0px auto;
  padding-top: 2px;
  border-radius: 40px;
  height: 30px;
  vertical-align: middle;
}

.whos-here {
  display: inline-block;
  margin-left: 10px;
}

.logout {
  float: right;
  margin-right: 10px;
}
/*----------------------------------------------------------*/
/*-------LOGIN ELEMENTS-------------------------------------*/
/*----------------------------------------------------------*/

.logInAndOut {
  margin-top: 20px;
  margin-bottom: 10px;
}


/*----------------------------------------------------------*/
/*-------BODY ELEMENTS--------------------------------------*/
/*----------------------------------------------------------*/

.body-container {
  position: relative;
  top: 65px;
  padding-left: 6%;
}

.list-title{
  font-family: 'Lobster Two', cursive;
  color: #FFFFFF;
  text-shadow: 2px 2px #000000;
  text-align: center;
  margin: 0px;
}
/*-------chosen restaurant list-----------------------------*/
.chosen{
  position: relative;
  display: block;
  margin: 0px 5% 20px 5%;
  height: auto;
}

.chosen-list {
  padding: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 2%
}

/*-------overall restaurant list----------------------------*/
.rest{
  position: relative;
  display: block;
  margin: 0px 5% 20px 0px;
  height: auto;
}

.rest-list{
  padding: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-left: 2%
}

/*-----------------------------------------*/
/*---------FOOTER STYLING------------------*/
/*-----------------------------------------*/

.foot{
  display: block;
  width: 90%;
  background-color: #D32F2F;
  position: fixed;
  bottom: 0%;
  text-align: center;
  height: 30px;
}


/*-----------------------------------------*/
/*---------NEON EFFECT---------------------*/
/*-----------------------------------------*/


.logo a {
  color: #FFFFFF;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-animation: neon 1s ease-in-out infinite alternate;
  -moz-animation: neon 1s ease-in-out infinite alternate;
  animation: neon 1s ease-in-out infinite alternate;
}

.logo a:hover {
  color: #00BCD4;
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
}

@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 5px #00BCD4, 0 0 10px #00BCD4, 0 0 20px #00BCD4, 0 0 30px #59c1cf, 0 0 40px #59c1cf, 0 0 50px #59c1cf, 0 0 60px #59c1cf, 0 0 70px #59c1cf;
  }
  to {
    text-shadow: 0 0 2px #00BCD4, 0 0 5px #00BCD4, 0 0 7px #00BCD4, 0 0 10px #59c1cf, 0 0 13px #59c1cf, 0 0 16px #59c1cf, 0 0 19px #59c1cf, 0 0 21px #59c1cf;
  }
}

/*---------END NEON EFFECT---------------------*/
